$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;
$melodrama: "Melodrama", cursive;
$nunito: "Nunito", sans-serif;

.header {
  width: 100vw;
  height: 17vh;
  padding: 1em 0;
  display: grid;
  place-items: center;
  position: fixed;
  background-color: transparent;
  opacity: 0;
  z-index: 200;

  font-family: $nunito;
  @media (min-width: 768px) {
    padding: 1em 3em;
    height: 20vh;
  }

  .inner_container {
    width: 100%;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      padding: 0;
    }
    .header_back {
      cursor: pointer;
    }
    .header_brand {
      display: flex;
      align-items: center;
      padding: 1em;
    }
    .header_brand > a {
      font-size: 2em;
      color: blueviolet;
      font-family: $melodrama;
      text-decoration: none;

      cursor: pointer;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      animation: flicker-4 4s ease-in infinite both;
      color: rgb(205, 175, 233);

      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
        0 0 42px rgb(236, 175, 231), 0 0 82px rgb(247, 185, 247),
        0 0 92px rgb(255, 178, 249), 0 0 102px rgb(252, 165, 247),
        0 0 151px rgb(243, 110, 225);

      outline: none;

      @keyframes flicker-4 {
        0%,
        100% {
          opacity: 1;
        }
        31.98% {
          opacity: 1;
        }
        32% {
          opacity: 0;
        }
        32.8% {
          opacity: 0;
        }
        32.82% {
          opacity: 1;
        }
        34.98% {
          opacity: 1;
        }
        35% {
          opacity: 0;
        }
        35.7% {
          opacity: 0;
        }
        35.72% {
          opacity: 1;
        }
        36.98% {
          opacity: 1;
        }
        37% {
          opacity: 0;
        }
        37.6% {
          opacity: 0;
        }
        37.62% {
          opacity: 1;
        }
        67.98% {
          opacity: 1;
        }
        68% {
          opacity: 0;
        }
        68.4% {
          opacity: 0;
        }
        68.42% {
          opacity: 1;
        }
        95.98% {
          opacity: 1;
        }
        96% {
          opacity: 0;
        }
        96.7% {
          opacity: 0;
        }
        96.72% {
          opacity: 1;
        }
        98.98% {
          opacity: 1;
        }
        99% {
          opacity: 0;
        }
        99.6% {
          opacity: 0;
        }
        99.62% {
          opacity: 1;
        }
      }

      @media (min-width: 768px) {
        font-size: 2.5em;
      }
    }
    .header_nav {
      .button {
        position: sticky;
        z-index: 100;
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 50%;
        background-color: #0e141bb6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        &:hover {
          .burger1 {
            transform: translateY(5px) rotate(45deg);
          }
          .burger2 {
            transform: translateY(-5px) rotate(-45deg);
            background-color: #892be2a4;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.084);
          }
        }

        @media (min-width: 768px) {
          display: none;
        }

        .burger_bar {
          width: 1.5rem;
          height: 3px;
          background-color: #fae8b7;
          border-radius: 5px;
          transition: all 0.5s;
        }
      }
      .nav_content {
        display: none;
        @media (min-width: 768px) {
          display: flex;
          gap: 2em;
        }
      }
    }
  }
}
