.button {
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

.selected {
  border-bottom: 10px solid blueviolet;

  font-family: "Josefin Sans", sans-serif;
}

.button_sidebar {
  cursor: pointer;
  padding: 0.5em 1em 0 1em;
  font-family: "Yeseva One", cursive;
  font-size: 3em;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.selected_sidebar {
  border-bottom: 10px solid blueviolet;
}
