$melodrama: "Melodrama", cursive;
$nunito: "Nunito", sans-serif;

.button {
  padding: 0.5em 1em;
  cursor: pointer;
  text-transform: capitalize;

  color: #fae8b7;

  font-family: $nunito;
}

.selected {
  border-bottom: 10px solid #892be2a4;
  font-weight: bold;
}

.button_sidebar {
  cursor: pointer;
  padding: 0.5em 1em 0 1em;

  font-size: 3em;
  color: #fae8b7;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.selected_sidebar {
  border-bottom: 10px solid #892be2a4;
}
