$dark-theme-primary-color: #1e212d;
$normal-theme-primary-color: #fae8b7;
$secondary-color: #b68973;
$terciary-color: #eabf9f;
$primary-font-family: "Montserrat", sans-serif;

$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;

$secondary-font-family: "Meddon", cursive;
$total-width: 100vw;

.projectpage_container {
  background-image: url("../../public/radial.svg");
  background-repeat: repeat;
  background-size: cover;
  padding: 25vh 1em 10vh 1em;
  background-position: -20px -40vw;
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100vw;
  min-height: 100vh;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    gap: 3em;
  }

  .title_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
      width: 50%;
    }

    .project_title {
      color: $normal-theme-primary-color;
      font-family: $serif-font;
      text-transform: uppercase;
      transform: scaleY(2);
    }
    .arrows {
      display: flex;
      justify-content: space-around;
      gap: 0.5em;
      .arrow {
        font-family: $mono-font;
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        animation: flicker-4 4s ease-in infinite both;
        color: rgb(205, 175, 233);

        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
          0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(252, 165, 247),
          0 0 151px #0fa;

        outline: none;

        @keyframes flicker-4 {
          0%,
          100% {
            opacity: 1;
          }
          31.98% {
            opacity: 1;
          }
          32% {
            opacity: 0;
          }
          32.8% {
            opacity: 0;
          }
          32.82% {
            opacity: 1;
          }
          34.98% {
            opacity: 1;
          }
          35% {
            opacity: 0;
          }
          35.7% {
            opacity: 0;
          }
          35.72% {
            opacity: 1;
          }
          36.98% {
            opacity: 1;
          }
          37% {
            opacity: 0;
          }
          37.6% {
            opacity: 0;
          }
          37.62% {
            opacity: 1;
          }
          67.98% {
            opacity: 1;
          }
          68% {
            opacity: 0;
          }
          68.4% {
            opacity: 0;
          }
          68.42% {
            opacity: 1;
          }
          95.98% {
            opacity: 1;
          }
          96% {
            opacity: 0;
          }
          96.7% {
            opacity: 0;
          }
          96.72% {
            opacity: 1;
          }
          98.98% {
            opacity: 1;
          }
          99% {
            opacity: 0;
          }
          99.6% {
            opacity: 0;
          }
          99.62% {
            opacity: 1;
          }
        }
      }
    }
    .imgs_container {
      display: flex;
      flex-direction: column;
      box-shadow: -1px 3px 28px 7px rgba(0, 0, 0, 0.75);
      margin: -1.5em 0;
      .img1 {
        width: 100%;
        border-radius: 8px;
        filter: sepia(0.8);
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .description_container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;

    @media (min-width: 768px) {
      padding: 1em 0;
      width: 40%;
      justify-content: space-around;
    }
    .project_description {
      color: $normal-theme-primary-color;
      font-family: $mono-font;
      font-weight: 200;
      transform: scaleY(1.2);
      @media (min-width: 768px) {
        font-size: 1.2em;

        font-weight: 300;
        transform: scaleY(1);
      }
    }
    .icons {
      display: flex;
      gap: 1em;
      justify-content: center;
      @media (min-width: 768px) {
        font-size: 1.3em;
      }
      span {
        svg {
          color: $normal-theme-primary-color;
          width: 48px;
          height: 48px;
          margin: 0.5em;
        }
      }
    }

    .buttons {
      font-family: $mono-font;
      display: flex;
      font-weight: 500;
      gap: 1em;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
      }

      .button {
        font-size: 1.1em;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5em;
        justify-content: center;
        text-decoration: none;
        border-radius: 8px;
        width: 80vw;
        height: 10vh;
        text-transform: capitalize;
        font-family: $mono-font;
        border: 1px solid #fae8b7;

        @media (min-width: 768px) {
          width: 15vw;
        }
      }

      .git {
        // color: $normal-theme-primary-color;
        color: #fae8b7;
        background-color: transparent;
        svg {
          width: 24px;
          height: 24px;
          margin: 0.5em;
          g {
            fill: #fae8b7;
          }
        }
      }
      .depl {
        color: #fae8b7;
        background-color: rgba(137, 43, 226, 0.342);
      }
    }
  }
}
