$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;

.hero_container {
  width: 100vw;
  height: 60vh;

  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;

  .pretitle {
    color: #8a2be2;
    font-size: 1.2rem;
    font-family: $mono-font;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    @media (min-width: 425px) {
      font-size: 1.5rem;
    }
  }
  .title {
    font-size: 2.5rem;
    letter-spacing: -3px;
    font-weight: lighter;
    font-family: $serif-font;
    margin: 0.2em 0 0.5em 0;

    display: flex;
    flex-direction: row;
    overflow: hidden;

    @media (min-width: 425px) {
      font-size: 3rem;
    }
  }
  .hero_content {
    width: 90vw;
    .hero_desc {
      width: 90vw;
      font-size: 1.5em;
      font-weight: 300;
      font-family: $mono-font;

      display: flex;
      flex-direction: row;
      overflow: hidden;
      @media (min-width: 425px) {
        font-size: 1.7rem;
      }
    }
  }
}
