$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;
$melodrama: "Melodrama", cursive;
$nunito: "Nunito", sans-serif;

.hero {
  display: flex;
  width: 100%;
  padding: 0 1em;
  font-family: $nunito;

  .hero_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;

    @media (min-width: 1024px) {
      width: 70%;
    }

    .pretitle {
      color: #892be2a4;
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      text-transform: uppercase;

      @media (min-width: 425px) {
        font-size: 1.25rem;
      }
      @media (min-width: 1024px) {
        font-weight: 500;
      }
    }
    .title {
      font-size: 2.8rem;
      letter-spacing: -3px;
      font-weight: lighter;
      font-family: $melodrama;
      margin: 0.2em 0 0.5em 0;
      color: #fae8b7;
      display: flex;
      flex-direction: row;
      overflow: hidden;

      @media (min-width: 425px) {
        font-size: 3.5rem;
      }
      @media (min-width: 768px) {
        font-size: 4.5rem;
      }
      @media (min-width: 1024px) {
        font-size: 6rem;
      }
    }
    .hero_content {
      .hero_desc {
        font-size: 1.1em;
        color: #fae8b7;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        font-weight: lighter;

        @media (min-width: 425px) {
          font-size: 1.3rem;
        }
        @media (min-width: 1024px) {
          width: 50vw;
        }
      }
    }
  }
  .flyer {
    width: 50%;
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
}
