$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;

$melodrama: "Melodrama", cursive;
$nunito: "Nunito", sans-serif;

.badge_container {
  background-color: #892be2a4;
  border-radius: 24px;
  padding: 1em 2em;
  font-family: $nunito;
  .badge_text {
    color: #fae8b7;
    font-weight: bold;
  }
}
