$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;

.hr {
  width: 85vw;
  border: 1px solid rgba(128, 128, 128, 0.185);
  margin: 3rem;
}
.footer_container {
  padding: 1em 0;
  display: flex;
  width: 100vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
  gap: 3em;

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    z-index: 199;
  }
  .icon > p {
    font-family: $mono-font;
    color: #fae8b7;
  }
  .made > p {
    font-family: $mono-font;
    color: #fae8b7;
  }
}
