.circle {
  font-size: 1.4em;
  color: antiquewhite;
  text-align: center;
  width: 100px;
  height: 100px;
  animation: spin 3.5s infinite linear;
  border-radius: 50%;

  @keyframes spin {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  span {
    position: absolute;
    margin: 2px;
    font-family: "Josefin Sans", sans-serif;
  }
}
