$melodrama: "Melodrama", cursive;
$nunito: "Nunito", sans-serif;

.letter_serif {
  font-family: $melodrama;

  &:first-child {
    text-transform: uppercase;
  }
}

.letter_sans {
  font-family: $nunito;
  &:first-child {
    text-transform: uppercase;
  }
}
