$mono-font: "Josefin Sans", sans-serif;
$serif-font: "Yeseva One", cursive;

.about_container {
  min-height: 100vh;
  padding: 17vh 0 0 0;

  background-image: url("../public/radial.svg");
  background-repeat: repeat;
  background-size: auto;
  background-position: 0px -40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 20vh 0 0 0;
  @media (min-width: 768px) {
    padding: 20vh 2em 0 2em;
    background-size: cover;
  }

  .about_first {
    display: flex;
    flex-direction: column;
    align-items: centeR;

    @media (min-width: 768px) {
      flex-direction: row;
      width: 90vw;
    }
    .profile_pic {
      width: 90vw;
      height: 40vh;
      overflow: hidden;
      border-radius: 40% 3% 40% 3%;
      object-fit: contain;
      @media (min-width: 768px) {
        height: 60vh;
      }
      span {
        img {
          filter: grayscale(1);
          padding: 0 0.5em;
          object-fit: cover;
        }
      }
    }
    .info {
      width: 100vw;
      padding: 2em 1em;
      @media (min-width: 768px) {
      }
      p {
        font-family: $mono-font;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 1.5em;
        padding: 1em 0;
        color: #fae8b7;
        @media (min-width: 768px) {
          font-size: 1.5em;
          padding: 0.5em 0;
        }
      }
    }
  }
  .about_second {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    @media (min-width: 768px) {
      flex-direction: row;

      justify-content: space-around;
    }
    .title_container {
      padding: 1em;
      .title {
        font-family: $serif-font;
        text-align: center;
        letter-spacing: 5px;

        color: #fae8b7;
        @media (min-width: 768px) {
          margin: 1em 0;
          text-align: left;
        }
      }
    }
    .icons_container {
      display: flex;
      align-items: center;
      gap: 3em;
      margin: 2em 0;
      @media (min-width: 768px) {
        text-align: left;
      }

      a {
        z-index: 199;
        .icon {
          font-family: $mono-font;
          font-size: 1.4em;
          width: 64px;
          height: 64px;
          cursor: pointer;
          display: grid;
          place-items: center;

          &:hover {
            transform: rotateY(360deg);
            transition: 1s;
          }
        }
      }
    }
  }
}
